<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Add More 文章</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/header.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/footer.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/main.css}"/>

    <style>
        #add-form {
            margin-top: 20px;
        }
    </style>
</head>
<body>
<div id="header">
    <div th:replace="~{header :: head-add}"></div>
</div>

<div id="main">
    <div>
        <form id="add-form" th:action="@{add}" method="post">
            <table class="table table-bordered table-striped">
                <thead class="thead-dark">
                <tr>
                    <th scope="col" th:text="version"></th>
                    <th scope="col" th:text="title"></th>
                    <th scope="col" th:text="level"></th>
                    <th scope="col" th:text="userid"></th>
                    <th scope="col">Submit</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td class="list">
                        <input type="number" class="form-control" th:name="version">
                    </td>
                    <td class="list">
                        <input type="string" class="form-control" th:name="title">
                    </td>
                    <td class="list">
                        <input type="number" class="form-control" th:name="level">
                    </td>
                    <td class="list">
                        <input type="number" class="form-control" th:name="userid">
                    </td>
                    <td class="list">
                        <input type="submit" class="btn btn-primary" th:value="Add">
                    </td>
                </tr>
                </tbody>
            </table>
        </form>
    </div>

    <div>
        <h3 th:text="${message}"></h3>
    </div>
</div>

<div id="footer">
    <div th:replace="~{footer :: footer-fragment}"></div>
</div>
</body>
</html>