<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Footer</title>
</head>
<body>
<footer class="navbar-fixed-bottom" th:fragment="footer-fragment">
    <div class="container">
        <h2>Article Services System</h2>
        <p>If you get into any problems, please let me know:
            <a href="mailto:16302010029@fudan.edu.cn">
                Contact me!</a></p>
        <p>Enjoy the services!</p>
    </div>
</footer>
</body>
</html>